@model Borrows.Models.BorrowDb

@{
    ViewData["Title"] = "Edit";
}

<h2 style="margin-left:20px">Edit</h2>

<h4 style="margin-left:20px">BorrowDb</h4>
<hr />
<div class="row" style="margin-left:20px">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowId" name="Id" />
            <div class="form-group">
                <label asp-for="ServiceCode" class="control-label"></label>
                <input asp-for="ServiceCode" class="form-control" />
                <span asp-validation-for="ServiceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryName" class="control-label"></label>
                <input asp-for="EntryName" class="form-control" />
                <span asp-validation-for="EntryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestName" class="control-label"></label>
                <input asp-for="RequestName" class="form-control" />
                <span asp-validation-for="RequestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestDate" class="control-label"></label>
                <input asp-for="RequestDate" class="form-control" />
                <span asp-validation-for="RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowStatus" class="control-label"></label>
                <input asp-for="BorrowStatus" class="form-control" />
                <span asp-validation-for="BorrowStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadApproverId" class="control-label"></label>
                <input asp-for="HeadApproverId" class="form-control" />
                <span asp-validation-for="HeadApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadApproverDate" class="control-label"></label>
                <input asp-for="HeadApproverDate" class="form-control" />
                <span asp-validation-for="HeadApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerApproverId" class="control-label"></label>
                <input asp-for="ManagerApproverId" class="form-control" />
                <span asp-validation-for="ManagerApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerApproverDate" class="control-label"></label>
                <input asp-for="ManagerApproverDate" class="form-control" />
                <span asp-validation-for="ManagerApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogisticApproverId" class="control-label"></label>
                <input asp-for="LogisticApproverId" class="form-control" />
                <span asp-validation-for="LogisticApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogisticApproverDate" class="control-label"></label>
                <input asp-for="LogisticApproverDate" class="form-control" />
                <span asp-validation-for="LogisticApproverDate" class="text-danger"></span>
            </div>

            @(
                Grid(Model.BorrowItem)
                .Build(columns =>
                {
                    columns.Add(model => model.Item).Titled("Name");
                    columns.Add(model => model.Surname).Titled("Surname");
                    columns.Add(model => model.MaritalStatus).Titled("Marital status");

                    columns.Add(model => model.Age).Titled("Age");
                    columns.Add(model => model.Birthday).Titled("Birthday").Formatted("{0:d}");
                    columns.Add(model => model.IsWorking).Titled("Employed");
                })
                .Empty("No data found")
                .Filterable()
                .Sortable()
                .Pageable()
            )
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
